<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/search.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nova+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />

</head>

<body>
 

   <h1>Cherchez vos artistes préférés</h1>

    <div class="top-bar">
        <div class="logo">
            
            <img src="static/css/logo.png" alt="GT">
            </div>


            <div class="contenir">
                <input class="search" id="search" type="text" name="" placeholder="Votre recherche...">
                <i class="far fa-search"></i>
                <button class="search-btn" id="search-inp-btn">&#x027A4;</button>
            </div>
            
            <script>
                document.getElementById('search-inp-btn').addEventListener('click', function() {
                    var searchTerm = document.getElementById('search').value;
                    // Faire quelque chose avec le terme de recherche (par exemple, effectuer la recherche)
                    console.log("Recherche en cours avec le terme : " + searchTerm);
                    // Ajoutez ici votre logique de recherche
                });
            </script>
            
            

        <div class="navigation">
            <a href="accueil#accueil" class="btn"> HOME </a>

        </div>
        <div class="navigation">
            <a href="map#map" class="btn"> MAP </a>

        </div>
    </div>

    

    <div class="container">
        <div class="heading">
        </div>
        <!-- Génération des cartes en fonction de la recherche -->
        <div class="row" id="card-data">

        </div>

    <div class="container">
        <div class="heading">
        </div>
        <!-- Génération des cartes en fonction de la recherche -->
        <div class="row" id="card-data">

        </div>
    </div>

    <!-- Génération des pop-up pour chaque carte -->
    <div class="popup-box">
        <div class="map">
            
        <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
        <script type='text/javascript' src='https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js'></script>
        <script type="text/javascript">
            // On initialise la latitude et la longitude de Paris (centre de la carte)
            var lat = 48.852969;
            var lon = 2.349903;
            var macarte = null;
            var markerClusters; // Servira à stocker les groupes de marqueurs
            // Nous initialisons une liste de marqueurs
            var villes = {
                "Paris": { "lat": 48.852969, "lon": 2.349903 },
            };
            // Fonction d'initialisation de la carte
            function initMap() {
                // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
                macarte = L.map('map').setView([lat, lon], 11);
                markerClusters = L.markerClusterGroup(); // Nous initialisons les groupes de marqueurs
                // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
                L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                    // Il est toujours bien de laisser le lien vers la source des données
                    attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                    minZoom: 1,
                    maxZoom: 20
                }).addTo(macarte);
                // Nous parcourons la liste des villes
                for (var ville in villes) {
                    // Nous définissons l'icône à utiliser pour le marqueur
                    var myIcon = L.icon({
                        iconUrl: 'http://localhost/carte/icons/autres.png',
                        iconSize: [50, 50],
                        iconAnchor: [25, 50],
                        popupAnchor: [-3, -76],
                    });
                    var marker = L.marker([villes[ville].lat, villes[ville].lon], { icon: myIcon }); // pas de addTo(macarte), l'affichage sera géré par la bibliothèque des clusters
                    marker.bindPopup(ville);
                    markerClusters.addLayer(marker); // Nous ajoutons le marqueur aux groupes
                }
                macarte.addLayer(markerClusters);
            }
            window.onload = function(){
                // Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
                initMap(); 
            };

            
        </script>
        </div>
        

        <div class="popup-content">
            <div class="popup-header">

            </div>
            <div class="popup-body">

            </div>
            <div id="map" style="height: 500px; width: 100%;"></div>

            <div class="popup-footer">
                <button class="popup-close-btn">Fermer</button>
            </div>
        </div>
    </div>

    <!-- Mise en place du script disponible au chemin spécifié -->
    <script src="../static/js/events.js"></script> 
    <script src="../static/js/searchartist.js"></script> 
   <script src="../static/js/output.js"></script> 
    <script src="../static/js/API.js"></script>                                   
</body>

</html>